<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Sandwich Home</h1>

        <p>Ingredients:</p>
        <ul>
            <li><a href="#">Meats</a></li>
            <li><a href="#">Cheeses</a></li>>
            <li><a href="#">Toppings</a></li>>
        </ul>

        <p>Click button if you're hungry!</p>
        <button type="submit"> Make My Sandwich!</button>
    </div>
</body>
</html>